* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(255, 255, 255);
  --border-color: rgb(240, 240, 227);
  --background-color: rgb(153, 153, 153);
}

html {
  /* root font size REM */
  /* 1.25 * 16px = 20px */
  font-size: 1.25em;
  line-height: 1.3em;
}

@media (max-width: 320px) {
  html {
    font-size: 1em;
  }
}


body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
}


/* GRID */
.grid-cards {
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 680px) {
  .grid-cards {
    padding: .5em;

    grid-template-columns: 1fr;
  }
}

/* CARD */
.card {
  overflow: hidden;
  position: relative;
  max-width: 400px;
  height: 600px;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--background-color);
  border: .1rem solid var(--border-color);
  border-radius: 1rem;
}
@media (max-width: 320px) {
  .card {
    /* 0.8 * 20px = 16px */
    /* font-size: 80%; */
    flex-wrap: wrap;
  }
}

/* card image */
.card-background{
  display: block;
  position: relative;
  top: -2em;
  left: -2em;
  mix-blend-mode: multiply;
}

/* card content */
.card-content {
  margin-right: 1.5rem;
  margin-left: 1rem;
  position: absolute;
  padding-top: 60%;
}

.card-title {
  font-size: 2em;
  font-weight: normal;
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 1.2em;
}

.card-description {
  letter-spacing: 0.02em;
}

/* card graphic */
.card-graphic {
  position: absolute;
  flex-basis: 20%;
  flex-shrink: 0;
  right: 2em;
}

.card-number {
  font-size: 2em;
}

.card-symbol {
  font-size: 2.5em;
  line-height: 0.2em;
}

.card-symbol P{
  margin: 0;
}

@media (max-width: 320px) {
  .card-graphic {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    order: -1;
    flex-basis: 100%;
  }
  .card-symbol {
    order: -1;
  }
}

